/*button*/
.btn {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}
.btn a {    
    width: 100%;     
    position: relative;
    display: inline-block;
    transition: 0.3s;
    color: white;
    font-size: 15px;
    font-family: Inter, sans-serif;
    text-align: left;
    margin: 0px;
    padding: 3px;
}
.btn-1::before {
    background-color: #1D1D1E;
    transition: 0.3s ease-out;
}
.btn-1 a {
    color: white;
    text-align: center;
    transition: 0.2s 0.1s;
}
.btn-1 a:hover {
    color: #7A7A7B;
    transition: 0.2s 0.1s;
}
.opacity::before {
    height: 100%; width: 100%;
    top:0; bottom: 0; right: 0;
    opacity: 1;
}
.opacity:hover::before {
    opacity: 0;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}