.cards{
    width: 1200px; height: 800px;
    margin: auto;

    padding-top: 45px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cards-container-marge{
    width: 275px; height: 325px;
    margin: 8px;

    background-color: #222223;

    border-radius: 24px;
    border: 2px #222223 solid;

    transition: border .5s ease-in 0s;
}
.cards-container-marge:hover{
    width: 275px; height: 325px;
    margin: 8px;

    background-color: #222223;

    border-radius: 24px;
    border: 2px #7a7a7b1e solid;
}
.card{
    height: 277px;
    padding: 24px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.card-top-item-container{
    height: 60px;
}
.card-center-item{
    height: 100px;
}
.card-bottom-item{
    width: 220px; height: 20px;

    background-color: #1D1D1E;
    
    border-radius: 10px;
}
.card-top-item{
    width: 60px; height: 60px;

    background-color: #7a7a7b1e;

    border-radius: 10px;
}
.card-top-item > img{
    width: 60px; height: 60px;
}