.cube{
    width: 1200px; height: 250px;
    margin: auto;
    padding-top: 90px;
}
.cube-container{
    width: 865px; height: 250px;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}
.column{
    width: 75px; height: 75px;

    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;

    background-color: #222223;

    border-radius: 15px;
    border: 2px #222223 solid;
    transition: width .5s ease-in 0s, height .5s ease-in 0s, border .5s ease-in 0s;
}
.column:hover{
    width: 175px; height: 175px;

    border: 2px #7a7a7b1e solid;
}
.column > img{
    width: 25px; height: 25px;
    margin: auto;
}
.column:hover > img{
    width: 25px; height: 25px;
}