.cube{
    width: 1200px; height: 250px;
    margin: auto;
    padding-top: 90px;
}
.cube-container{
    width: 865px; height: 250px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.room{
    display: flex;
    flex-direction: column;
    align-items: start;
    Justify-content: center;
}

.room:hover{
    align-items: start;
    Justify-content: center;
}

.column{
    width: 85px; height: 85px;

    display: flex;

    background-color: #222223;
    Justify-content: center;
    border-radius: 15px;
    border: 2px #222223 solid;
    transition: width .5s ease-in 0s, height .5s ease-in 0s, border .5s ease-in 0s;
}
.column:hover{
    width: 175px; height: 175px;

    border: 2px #7a7a7b1e solid;
}
.column:hover > .room-counter
{
    display: none;
}
.column:hover > ul > li > .user-block
{
    display: flex;
}
.column:hover > ul
{
    padding-left: 4px;
}
.column:hover > h6 {
    display: flex;
}

.user{
    display: flex;
    flex-direction: row;
    Justify-content: start;
}

.user > img{
    width: 25px; height: 25px;
    margin-left: auto;
    margin-right: auto;
}

.user-block
{
    display: none;
    align-items: center;
}
.userAvatar
{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
} 
.user-name
{
    color: white;
    margin: 0px;

}
.hide:hover{
    display: none;
}

.room > img{
    width: 25px; height: 25px;
    margin-left: auto;
    margin-right: auto;
}
.column:hover > img{
    display: none;
}

.column > h6
{
    display: none;
    margin: 4px;
    color: white;
}
.column > ul {
    list-style-type: none;
}
.room-counter
{
    color: white;
    font-size: 28px;
    padding-left: 12px;
}