.cube{
    width: 1200px; height: 250px;
    margin: auto;

}
.cube-container{
    width: 885px; height: 250px;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}
.column{
    width: 75px; height: 75px;
    margin: 8px;

    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;

    background-color: #222223;

    border-radius: 15px;
    border: 2px #222223 solid;
}
.column:hover{
    width: 175px; height: 175px;
    margin: 24px;
    border: 2px #7a7a7b1e solid;
    transition: 0.5s 0.1s;
}
.column > img{
    width: 25px; height: 25px;
    margin: auto;
}
.column:hover > img{
    width: 25px; height: 25px;
    margin: 3px;

    transition: 0.5s 0.1s;
}