html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    margin: 0px;

    background: #1D1D1E no-repeat fixed center;  	
    backdrop-filter: blur(5px);
    justify-content: space-between;
}
.flex-container {
    display: flex;
    flex-direction: column;
}