html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    margin: 0px;

    background: #1D1D1E no-repeat fixed center; 	
    backdrop-filter: blur(5px);
    justify-content: space-between;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
h6, p,h1,h2,h3,h4,h5{
    font-family: sans-serif;
}