body {
    background: #1D1D1E no-repeat fixed center;  	
    backdrop-filter: blur(5px);
    justify-content: space-between;
    width: 100%;
    height: 4800px;
    margin: 0px;
}
.flex-container {
    display: flex;
    flex-direction: column;
}