.footer {
    width: 1200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    background-color: #222223;
    border-radius: 24px;
}
.footer-container{
    width: 250px; height: auto;

    display: flex;
    margin: 15px;
    flex-direction: column;
}
.footer-top-item{
    text-align: center;
}
.footer-bottom-item{
    margin-top: 15px;
    text-align: center;
}