html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    margin: 0px;

    background: #1D1D1E no-repeat fixed center; 	
    backdrop-filter: blur(5px);
    justify-content: space-between;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
h6, p,h1,h2,h3,h4,h5{
    font-family: sans-serif;
}

/*
    BUTTON
*/

.btn {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}
.btn a {    
    width: 100%;     
    position: relative;
    display: inline-block;
    transition: 0.3s;
    color: white;
    font-size: 15px;
    font-family: Inter, sans-serif;
    text-align: left;
    margin: 0px;
    padding: 3px;
}
.btn-1::before {
    background-color: #1D1D1E;
    transition: 0.3s ease-out;
}
.btn-1 a {
    color: white;
    text-align: center;
    transition: 0.2s 0.1s;
}
.btn-1 a:hover {
    color: #7A7A7B;
    transition: 0.2s 0.1s;
}
.opacity::before {
    height: 100%; width: 100%;
    top:0; bottom: 0; right: 0;
    opacity: 1;
}
.opacity:hover::before {
    opacity: 0;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
/*
    TEXT
*/

/*FONTS*/

@font-face {
    src: url(../fonts/Exo.ttf);
    font-family: Exo;
}
@font-face {
    src: url(../fonts/ExoBold.ttf);
    font-family: ExoBold;
}
@font-face {
    src: url(../fonts/Inter.ttf);
    font-family: Inter;
}
@font-face {
    src: url(../fonts/InterBold.ttf);
    font-family: InterBold;
}
@font-face {
    src: url(../fonts/Roboto.ttf);
    font-family: Roboto;
}
@font-face {
    src: url(../fonts/RobotoBold.ttf);
    font-family: RobotoBold;
}

/*  
TEXT
*/

.Inter-gray-16-400 {
    margin: 0px; padding: 3px;

    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-align: left;

    color: #7A7A7B;
}
.Inter-white-16-600 {
    margin: 0px; padding: 3px;

    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    text-align: left;
    letter-spacing: 1px;

    color: white;
}
.Inter-white-15-600 {
    margin: 0px; padding: 3px;

    font-size: 15px;
    font-family: Inter, sans-serif;
    text-align: left;
    margin: 0px;
    padding: 3px;

    color: white;
}
.ExoBold-white-90-700 {
    font-size: 90px;
    font-family: ExoBold, sans-serif;
    font-weight: 700;
    text-align: left;

    color: white;
}
.Inter-gray-15-400 {
    padding: 3px;

    font-size: 15px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-align: center;

    color: white;
}
.Inter-gray-16-400-center {
    margin: 0px; padding: 0px;

    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-align: center;

    color: #7A7A7B;
}
