@font-face {
    src: url(../fonts/Exo.ttf);
    font-family: exo;
}

body {
    background: #181A1D url("../images/background.png") no-repeat fixed center;  	
    backdrop-filter: blur(5px);
    justify-content: space-between;
    width: 100%;
    height: 5000px;
    margin: 0px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container-banner {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 100px;
    justify-content: center;
    margin: auto;
}

.flex-container-banner > div {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-banner-item {
    width: 30%;
    align-items: center;
}

.left-banner-item > img {
    width: 200px;
    height: 50px;
}

.right-banner-item {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    align-items: center;
    float: right;
    text-align: center;
}

.shandergander > p {
    font-family: exo;
    font-weight: 600;
    color: white;
    font-size: 14px;
}

.shandergander {
    display: flex;
    justify-content: flex-end;
    margin-left: 12.5px;
}

.flex-container-preview {
    width: 1200px;
    height: 100px;
}